<%@ page import="es.ua.expertojava.todo.Todo" %>
<%@ page import="es.ua.expertojava.todo.Category" %>
<!DOCTYPE html>
<html>
  <head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'todo.label', default: 'Todo')}" />
    <g:set var="entityName2" value="${message(code: 'category.label', default: 'Category')}" />
    <title><g:message code="default.list.label" args="[entityName]" /></title>
  </head>

  <body>
    <a href="#list-todo" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>

    <div class="nav" role="navigation">
      <ul>
        <li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
        <li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
        <li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
      </ul>
    </div>

    <div id="list-todo" class="content scaffold-list" role="main">
      <h1><g:message code="default.list.label" args="[entityName2]" /></h1>

      <table>
        <tbody>
          <g:form url="[resource:todoInstance, action:'informePorCategory']">
            <g:each in="${categoryInstanceList}" status="i" var="categoryInstance">
              <tr class="${(i % 2) == 0 ? 'even' : 'odd'}">
                <td><g:checkBox name="categoria" value="${categoryInstance?.name}"  /> ${categoryInstance?.name}</td>
              </tr>
            </g:each>

              <tr>
              <td class="buttons"><g:submitButton name="search" class="informePorCategory" value="${message(code: 'default.button.buscar.label', default: 'Buscar')}" /></td>
              </tr>
          </g:form>
        </tbody>
      </table>

      <div class="pagination">
        <g:paginate total="${categoryInstanceCount ?: 0}" />
      </div>

    </div>
  </body>
</html>
